<title>TemanBacaku</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
<link rel="icon" href="gambar/icn.png" type="image/png" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="src/program.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<style>
     .fo{
      background-image: url("images/s.jpg");
      background-size: cover;
    }
    .glow { 
        font-size: 40px;
        color: #fff;
        text-align: center;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
    }
    .p{
        font: 1em sans-serif;
        color: #fff;
        }
        .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgb(0, 162, 255);
      color: white;
      text-align: center;
    }
</style>