<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand logo_h" href="index.html">
              <img src="images/logo.png" alt="logo" style="width:250px;">
          </a>
          
      </div>
          <ul class="nav nav-pills ">
              <li class="nav-item ">
              <a class="nav-link active" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/cerita">cerita</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/cerita/create">tambah cerita</a>
              </li>
              <form class="form-inline my-1 my-lg-1 rig">
                <input class="form-control my-0 my-sm-0 " type="search" placeholder="Search.." >
                <button class="btn btn-outline-primary my-0 my-sm-0 " type="submit"><i class='fas fa-search'></i></button>
              </form> 
          </ul>  
  </div>                
</nav>