<!doctype html>
<html lang="en">
  <head>
    <%- include ('components/head') %>

    
  </head>
  <body>
    <%- include ('components/navbar') %>

<main>

  <section class="jumbotron text-center fo" >
    <div class="container block">
      <h1 class="Jumbotron-heading glow">Selamat Datang</h1>
      <p></p>
      <p class="p" >Kami menyediakan bnyak buku menarik untuk anda baca</p>
      <div id="bantuan"></div>
    </div>
</section>

  <div class="rel py-1 bg-light block">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="images/pemimpi.jpg" style="width:100% ; height: 100%">
            <div class="card-body">
              <h3 class="fw-light">pemimpi</h3>
              <div class="d-flex justify-content-between align-items-center">
                <a href=" " class="btn btn-outline-secondary my-2">Baca</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="images/lapangan.jpg" style="width:100% ; height: 100%">
            <div class="card-body">
              <h3 class="fw-light">winter</h3>
              <div class="d-flex justify-content-between align-items-center">
                <a href=" " class="btn btn-outline-secondary my-2">Baca</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="images/teror.jpg" style="width:100% ; height: 100%">
            <div class="card-body">
              <h3 class="fw-light">teror</h3>
              <div class="d-flex justify-content-between align-items-center">
                <a href="" class="btn btn-outline-secondary my-2">Baca</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="images/winter.jpg" style="width:100% ; height: 100%">
            <div class="card-body">
              <h3 class="fw-light">winter</h3>
              <div class="d-flex justify-content-between align-items-center">
                <a href=" " class="btn btn-outline-secondary my-2">Baca</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="images/pemimpi.jpg" style="width:100% ; height: 100%">
            <div class="card-body">
              <h3 class="fw-light">pemimpi</h3>
              <div class="d-flex justify-content-between align-items-center">
                <a href=" " class="btn btn-outline-secondary my-2">Baca</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="images/pemimpi.jpg" style="width:100% ; height: 100%">
            <div class="card-body">
              <h3 class="fw-light">pemimpi</h3>
              <div class="d-flex justify-content-between align-items-center">
                <a href=" " class="btn btn-outline-secondary my-2">Baca</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
    <%- include ('components/footer') %>
  </body>
</html>