<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KHADIJAH KHIMAR</title>
  <link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
  <%- include ('components/navbar') %>
  <section class="py-3 container">
  <div class="col-md-6" style="width: 1100px;">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col-auto d-none d-lg-block">
        <img width="500" height="500" src="https://cdn.shopify.com/s/files/1/0505/4883/4497/products/RSP06898_800x.jpg?v=1632570605">

      </div>
      <div class="col p-5 d-flex flex-column position-static">
        <h2 class="fw-light">KHADIJAH KHIMAR</h2>
        <h4 class="fw-light">Rp. 80.000</h4><br>
        <p class="card-text mb-auto">Khimar dengan bagian belakang khimar dibuat lebih panjang sehingga terkesan menjuntai serta aksen kerutan di kanan dan kiri yang menambah kesan anggun.</p>
        <p class="mb-1 text-muted"><b>Bahan</b> Premium Baby Doll</p>
        <p class="mb-1 text-muted"><b>Ukuran</b> 80 x 120 cm</p><br>
        <a href="https://wa.me/6282237981721" class="btn btn-outline-secondary my-2">Beli Via WhatsApp</a><br>
        <small class="mb-1 text-muted">Note:<br>Warna produk pada model memiliki tone warna yang lebih terang karena faktor pencahayaan saat pemotretan</small>
      </div>
      
    </div>
  </div>
  </section>
  <%- include ('components/footer') %>
</body>
</html>